<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="role"
		type="com.example.demo.model.Role">
		<id column="ROLE_ID" property="roleId" />
		<result column="ROLE_NAME" property="roleName" />
		<result column="REMARK" property="remark" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="MODIFY_TIME" property="modifyTime" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		ROLE_ID, ROLE_NAME, REMARK, CREATE_TIME, MODIFY_TIME
	</sql>
	<select id="getListByUserId" resultMap="role">
		select r.*
		from t_role r
		left join t_user_role ur on (r.role_id = ur.role_id)
		where ur.user_id = #{user_id}
	</select>

</mapper>
